<%= form_for(@invoice) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
<div id="form_left">
  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :bank %><br />
    <%= f.collection_select(:bank_id, Bank.all, :id, :name , {:include_blank => 'Select Bank Account'} ) %>
  </div>
  <div class="field">
    <%= f.label :paid %><br />
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :vat %><br />
    <%= f.text_field :vat, :size=>5 %>%
  </div>
  <div class="field">
    <%= f.label :factory_invoice %><br />
    <%= f.text_field :factory_invoice %>
  </div>
</div>
<div id="form_right">
  <div class="field">
    <%= f.label :cartoons %><br />
    <%= f.text_field :cartoons, :size=>5 %>
  </div>
  <div class="field">
    <%= f.label :gross %><br />
    <%= f.text_field :gross, :size=>5 %>KGS
  </div>
  <div class="field">
    <%= f.label :net %><br />
    <%= f.text_field :net, :size=>5 %>KGS
  </div>
  <div class="field">
    <%= f.label :cubic %><br />
    <%= f.text_field :cubic, :size=>5 %>M3
  </div>
  <div class="field">
    <%= f.label :hts, "HTS" %><br />
    <%= f.text_field :hts %>
  </div>
</div>
<div class="clear"></div>
    <%= f.hidden_field :drop_id, :value=>@drop.id %>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>