<h1>Factories</h1>

<table>
  <tr>
    <th rowspan="2">Name</th>
    <th rowspan="2">Country</th>
    <th colspan="3">Orders Summary</th>
    <th rowspan="2">Details</th>
  </tr>
  <tr>
    <th>Shipped</th>
    <th>Part Shipped</th>
    <th>In Production</th>
  </tr>
    <% @factories.each do |factory| %>
  <tr>
    <td><%= factory.name %></td>
    <td><%= factory.country %></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="showhim">Details
        <div class="showme">
            <p><strong><%= factory.name %></strong></p>
            <p><%= factory.contact %></p>
            <p><%= factory.address1 %><br />
            <%= factory.address2 %><br />
            <%= factory.city %><br />
            <%= factory.country %><br />
            <%= factory.postcode %><br />
            <%= factory.email %><br />
            <%= factory.telephone %></p>
            <p><%= link_to "edit", edit_factory_path(factory) %> |
            <%= link_to 'delete', factory, confirm: factory.name + ' will be deleted! Are you sure you want to delete it?', method: :delete %></p>
        </div>
    </td>
  </tr>
    <% end %>
</table>






