<h1>Factories</h1>

<table>
  <tr>
    <th rowspan="2">Name</th>
    <th rowspan="2">Country</th>
    <th rowspan="2">Details</th>
    <th colspan="4">Orders Summary</th>
    <% unless current_user.department == "Commercial" %>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <% end %>
  </tr>
  <tr>
    <th>Shipped</th>
    <th>Part Shipped</th>
    <th>In Production</th>
    <th>Total</th>
  </tr>
    <% @factories.each do |factory| %>
  <tr>
    <td><%= factory.name %></td>
    <td><%= factory.country %></td>
    <td class="showhim">Details
        <div class="showme">
            <p><strong><%= factory.name %></strong></p>
            <p><%= factory.contact %></p>
            <p><%= factory.address1 %><br />
            <%= factory.address2 %><br />
            <%= factory.city %><br />
            <%= factory.country %><br />
            <%= factory.postcode %><br /><br />
            <%= mail_to factory.email %><br />
            <%= factory.telephone %></p>
        </div>
    </td>
          <% shipped = 0 %>
          <% partshipped = 0 %>
          <% inproduction = 0 %>
      <% factory.orders.each do |order| %>
        <% if order.status(order) == "Shipped" %>
          <% shipped = shipped + 1 %>
        <% elsif order.status(order) == "Part Shipped" %>
          <% partshipped = partshipped + 1 %>
        <% else %>
          <% inproduction = inproduction + 1 %>
        <% end %>
      <% end %>
    <td class="centre"><%= shipped %></td>
    <td class="centre"><%= partshipped %></td>
    <td class="centre"><%= inproduction %></td>
    <td class="centre"><%= factory.orders.count %></td>
    <% unless current_user.department == "Commercial" %>
    <td><%= link_to "edit", edit_factory_path(factory) %></td>
    <td><%= link_to 'delete', factory, confirm: factory.name + ' will be deleted! Are you sure you want to delete it?', method: :delete %></td>
    <% end %>
  </tr>
    <% end %>
</table>
<% unless current_user.department == "Commercial" %>
<p><%= link_to "New Factory", new_factory_path %></p>
<% end %>






