<h1>Customers</h1>

<table>
  <tr>
    <th rowspan="2">Name</th>
    <th rowspan="2">Country</th>
    <th rowspan="2">Details</th>
    <th rowspan="2">Discount</th>
    <th colspan="4">Orders Summary</th>
    <% unless current_user.department == "Commercial" %>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <% end %>
  </tr>
  <tr>
    <th>Shipped</th>
    <th>Part Shipped</th>
    <th>In Production</th>
    <th>Total</th>
  </tr>
    <% @customers.each do |customer| %>
  <tr>
    <td><strong><%= customer.name %></strong></td>
    <td><strong><%= customer.country %></strong></td>
    <td class="showhim"><strong>Details</strong>
        <div class="showme">
            <p><strong><%= customer.name %></strong></p>
            <p><%= customer.contact %></p>
            <p><%= customer.address1 %><br />
            <%= customer.address2 %><br />
            <%= customer.city %><br />
            <%= customer.country %><br />
            <%= customer.postcode %><br /><br />
            <%= mail_to customer.email %><br />
            <%= customer.telephone %></p>
        </div>
    </td>
    <td class="centre"><strong><%= number_with_precision customer.discount, :precision => 2, :delimiter => ',' %>%</strong></td>
        <% shipped = 0 %>
        <% partshipped = 0 %>
        <% inproduction = 0 %>
    <% customer.orders.each do |order| %>
      <% if order.status(order) == "Shipped" %>
        <% shipped = shipped + 1 %>
      <% elsif order.status(order) == "Part Shipped" %>
        <% partshipped = partshipped + 1 %>
      <% else %>
        <% inproduction = inproduction + 1 %>
      <% end %>
    <% end %>
    <td class="centre"><%= shipped %></td>
    <td class="centre"><%= partshipped %></td>
    <td class="centre"><%= inproduction %></td>
    <td class="centre"><%= customer.orders.count %></td>
    <% unless current_user.department == "Commercial" %>
      <td><strong><%= link_to "edit", edit_customer_path(customer) %></strong></td>
      <td><strong><%= link_to 'delete', customer, confirm: customer.name + ' will be deleted! Are you sure you want to delete it?', method: :delete %></strong></td>
    <% end %>
  </tr>

  <% customer.consignees.each do |consignee| %>
  <tr>
    <td class="space">-<%= consignee.name %></td>
    <td><%= consignee.country %></td>
    <td class="showhim">Details
        <div class="showme">
            <p><strong><%= consignee.name %></strong></p>
            <p><%= consignee.address1 %><br />
            <%= consignee.address2 %><br />
            <%= consignee.city %><br />
            <%= consignee.country %><br />
            <%= consignee.postcode %><br />
            <% unless current_user.department == "Commercial" %>
              <%= link_to "edit", edit_customer_consignee_path(customer, consignee) %> |
                <%= link_to 'delete', customer_consignee_path(customer, consignee), confirm: consignee.name + ' will be deleted! Are you sure you want to delete it?', method: :delete %>
            <% end %>
            </p>
        </div>
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <% unless current_user.department == "Commercial" %>
    <td></td>
    <td></td>
    <% end %>
  </tr>

  <% end %>
  <% unless current_user.department == "Commercial" %>
  <tr>
    <td class="space">-<%= link_to "new consignee", new_customer_consignee_path(customer) %></td>
    <td colspan="7"></td>
  </tr>
  <% end %>
  <% end %>
</table>
<% unless current_user.department == "Commercial" %>
<p><%= link_to "New Customer", new_customer_path %></p>
<% end %>





