<header>
  <%= image_tag("logo.png", :alt => "TMLS Intranet") %>
</header>
<nav>
  <ul>
    <li><%= link_to "Home", root_path %></li>

	<li><%= link_to "Factories" %>
      <ul>
	    <li><%= link_to "List Factories", factories_path %></li>
	    <li><%= link_to "New Factory", new_factory_path %></li>
      </ul></li>

	<li><%= link_to "Customers" %>
      <ul>
	    <li><%= link_to "List Customers", customers_path %></li>
	    <li><%= link_to "New Customer", new_customer_path %></li>
      </ul></li>

  </ul>
</nav>
