<header>
  <%= image_tag("logo.png", :alt => "TMLS Intranet") %>
</header>
<nav>
  <ul>
    <% if current_user.nil? %>

    <% else %>
    <li><%= link_to "Home", root_path %></li>

	<li><%= link_to "Factories" %>
      <ul>
	    <li><%= link_to "List Factories", factories_path %></li>
	    <li><%= link_to "New Factory", new_factory_path %></li>
      </ul></li>

	<li><%= link_to "Customers" %>
      <ul>
	    <li><%= link_to "List Customers", customers_path %></li>
	    <li><%= link_to "New Customer", new_customer_path %></li>
      </ul></li>


    <li class="align_right"><%= link_to "Logout", logout_path %>
    <% end %>
  </ul>
</nav>
